[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pandas = "*"
pymysql = "*"
sqlalchemy = "*"

[dev-packages]
pytest = "*"
pylint = "*"
flake8 = "*"
black = "*"
isort = "*"

[requires]
python_version = "3.10"
